.footer{
    background-color: #212121;
    
    bottom: 0;
    left: 0;
    width: 100%;
    color: White;
}

.footer-main{
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}

.footer ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap:  8px;
}
.footer h2{
    font-size: 18px;
    font-weight: 500;
}

.footer li {
    font-size: 14px;
    cursor: pointer;
}

.footer li:hover{
    color: #ccc;
}

.footer span {
    font-weight: 600;
}

.footer-socials .socials {
    font-size: 22px;
}

.footer-socials .social-icons:hover{
    color: #424242;
}

.footer-socials input {
    height: 28px;
    background-color: #424242;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    padding: 6px 12px;
}

.footer-socials button {
    background-color: #ed272b;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 6px 12px;
    height: 38px;
    box-shadow: 0 2px 4px rgba(237, 39,43, 1); 
    transition: box-shadow 0.3s, background-color 0.3s; 
}

.footer-socials button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    background-color: #c62126; 
}

.footer-bottom {
    text-align: center;
    padding: 6px 12px 12px 12px;
    font-size: 14px;
}

/* media querry */

@media screen and (min-width: 425px) and (max-width: 767px){
    .footer-main {
        flex-wrap: wrap;
    }
    .footer h2{
        font-size: 14px;
    }
    .footer li {
        font-size: 12px;
    }
    .footer-socials input {
        height: 28px;
        padding: 3px 6px;
    }
    .footer-socials button {
        font-size: 10px;
        height: 28px;
        padding: 3px 6px;
    }
}


@media screen and (min-width: 320px) and (max-width: 424px){
    .footer-main {
        flex-wrap: wrap;
    }
    .footer h2{
        font-size: 14px;
    }
    .footer li {
        font-size: 12px;
    }
    .footer-socials input {
        height: 28px;
        padding: 3px 6px;
    }
    .footer-socials button {
        font-size: 10px;
        height: 28px;
        padding: 3px 6px;
        margin-top: 6px;
    }
}